<!DOCTYPE html>
<html>
  <head>
    <title>JavaScript &amp; jQuery - Chapter 2: Basic JavaScript Instructions - Boolean Variable</title>
    <link rel="stylesheet" href="../static/css/c02.css"/>
  </head>
  <body>
    <div>
      <img id = "statement" src="../static/images/statement.png" >
    </div>
    <div id="content">
      <script src="../static/boolean-variable.js"></script>
      <input onclick = "firstWin()" class = 'true' type="image" id="win1" src = "../static/images/button.jpg">
      there are five wins
    </div>
  </body>
</html>